<div id="<%= dom_id employee_document %>">
  <p>
    <strong>Organization:</strong>
    <%= employee_document.organization_id %>
  </p>
  <p>
    <strong>Employee:</strong>
    <%= employee_document.employee_id %>
  </p>
  <p>
    <strong>Employee:</strong>
    <%= employee_document.employee_document.filename %>
  </p>
</div>
