<%= render PageComponent.new(title: "New Time Entry", content_container: true, full_width: false) do |component| %>
  <%= render "form", task_timetracking: @task_timetracking %>
  
  <div class="flex space-x-2 mt-4">
    <%= link_to "Cancel", organization_task_task_timetrackings_path(@organization, @task), class: "btn btn-secondary" %>
    <%= link_to "Calendar View", calendar_organization_task_task_timetrackings_path(@organization, @task), class: "btn btn-secondary" %>
  </div>
<% end %>
