<div id="<%= dom_id project %>">
  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
