<% content_for :title, "Employee document types" %>

<%= render PageComponent.new(title: "Employee document types") do |component| %>
  <% component.with_action_list do %>
    <%= link_to "New employee document type", new_employee_document_type_path, class: "btn btn-primary" %>
  <% end %>

  <div id="employee_document_types" class="space-y-4">
    <% @employee_document_types.each do |employee_document_type| %>
      <%= render employee_document_type %>
      <p>
        <%= link_to "Show this employee document type", employee_document_type, class: "btn btn-secondary" %>
      </p>
    <% end %>
  </div>
<% end %>
