<%= render PageComponent.new(title: "Employee document type") do |component| %>
  <% component.with_action_list do %>
    <%= link_to "Edit", edit_employee_document_type_path(@employee_document_type), class: "btn btn-secondary" if policy(@employee_document_type).edit? %>
    <div class="inline-block">
      <%= button_to "Destroy", @employee_document_type, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(@employee_document_type).destroy? %>
    </div>
  <% end %>
<% end %>

<div class="card shadow">
  <div class="card-body">
  
    <b>Name:</b>
    <%= @employee_document_type.name %>
    <br>
  
  </div>
</div>
