<% if page.current? %>
  <span aria-current="page" class="relative inline-flex items-center px-4 py-2 border border-blue-500 bg-blue-50 text-sm font-medium text-blue-600">
    <%= page %>
  </span>
<% else %>
  <%= link_to page, url, class: 'relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50', 'aria-label': "Go to page #{page}" %>
<% end %>