<div class="w-full">
  <div class="mb-6 flex items-center justify-between">
    <nav class="flex" aria-label="Breadcrumb">
      <% if user_signed_in? %>
        <!-- Breadcrumb -->
        <span class="text-gray-500"><%= render_breadcrumbs %></span>
      <% end %>
    </nav>
  </div>
  <%= render "form", organization: @organization %>
</div>
