<div id="<%= dom_id employee %>">
  <p>
    <strong>EmployeeID:</strong>
    <%= employee.id %>
  </p>
  <p>
    <strong>Organization:</strong>
    <%= employee.organization.name %>
  </p>
  <p>
    <strong>Membership:</strong>
    <%= employee.membership.user.full_name %>
  </p>
</div>
